@use '/src/style/font';
@use '/src/style/util';

.CardList {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  @include util.tablet-screen {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    align-items: center;
  }

  @include util.mobile-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
}
