@import '../../style/color';

.section {
  left: 80px;
  font-size: 1.6rem;
  width: calc(100% - 80px);

  .container {
    background: linear-gradient(0deg, #fff 50%, #ffebe1 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    > .left {
      width: 50%;
      height: 100%;

      > .inner {
        width: 90%;
        height: 90%;
        margin: 20% auto;

        > .frame {
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;

          > .computer_wrap {
            top: 4%;
            height: 60%;
            > .back_img {
              top: 0;
              padding-top: 56.25%;
              position: relative;

              > .img_wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                width: 92%;
                height: auto;

                > img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: 0 auto;
                  width: 92%;
                  height: auto;
                  &:not(:nth-child(1)) {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    > .right_in {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      width: calc(100% - 120px);
      margin: 0 auto;
      > .inner {
        width: 90%;
        height: 73%;

        > .cont {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          > .top {
            padding-top: 3.8rem;
            padding-bottom: 2.4rem;
            margin: 0 30px;
            > h1 {
              line-height: 5rem;
              font-size: 3.6rem;
              font-weight: bold;
              color: #dc6868;
            }
          }
          > .mid {
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: calc(100% - 100px);
            margin: 0 auto;
            > .tab {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: row;
              position: relative;
              > li {
                font-size: 1.8rem;
                cursor: pointer;
              }
              & .tab_item {
                font-weight: bold;
              }
              .tab_line {
                display: block;
                width: 39px;
                height: 4px;
                border-radius: 2px;
                background: #dc6868;
                pointer-events: none;
                // position: absolute;
                left: 0;
                top: calc(50% + 14px);
              }
            }
          }
        }
      }
    }
  }
}
