.MoreBtn{
    color: #fff!important;
    background: #dc6868;
    border: 2px solid #dc6868;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

@media (min-width: 320px) and (max-width: 480px){
    .MoreBtn{
        font-size: 1.4rem;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .MoreBtn{
        font-size: 1.4rem;
    }
}


