@import '../../../../style/color';

textarea {
  padding: 10px 10px;
  &::placeholder {
    color: #b6b6b6;
    font-weight: normal;
  }
}

.required_mark {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: $main-color;
}

.project_detailLabel {
  display: block;
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 5px;
  width: 100%;
}
.text_area:focus {
  border-bottom: 2px solid $main-color;
}
.text_area {
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #a7a7a7;
  outline: none;
  color: #b6b6b6;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  width: 100%;
}
