@use '/src/style/color';
@use '/src/style/font';
@use '/src/style/util';

.Container {
  position: fixed;
  z-index: 9998;
  //   width: calc(100% - 80px);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 80px;
  bottom: -100vh;
  padding: 60px 15% 150px 10%;
  background: white;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  @include util.mobile-screen {
    left: 0;
    padding: 80px 5% 150px 5%;
  }
}

.CloseBtn {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  top: 30px;
  right: calc(15% - 26px);
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  background-color: transparent;
  & img {
    width: 30px;
    height: 30px;
    vertical-align: baseline;
  }

  @include util.mobile-screen {
    top: 30px;
    right: 5%;
  }
}

.TitleWrap {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  border-top: 3px solid color.$main-color;
  border-bottom: 1px solid #707070;

  @include util.tablet-screen {
    padding: 20px;
  }
  @include util.mobile-screen {
    padding: 20px;
  }
}

.Date {
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  width: 8%;
  text-align: center;

  @include util.tablet-screen {
    margin-right: 3%;
  }

  & strong {
    @include font.typo(font.$IBM, bold, 48px, 1.4);

    @include util.mobile-screen {
      @include font.typo(font.$IBM, bold, 36px, 1.4);
    }
  }

  & span {
    @include font.typo(font.$IBM, regular, 13px, 1.4);
  }
}

.Title {
  @include font.typo(font.$IBM, bold, 18px, 2rem);
  width: 90%;
  margin-left: 3%;

  @include util.mobile-screen {
    @include font.typo(font.$IBM, normal, 1.8rem, 2rem);
    margin-left: 8%;
  }
}

.Desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin-top: 60px;
  margin-left: 15%;
  font: inherit;
  line-height: 2.4rem;

  & img {
    width: 100%;
  }

  @include util.tablet-screen {
    width: 80%;
    margin-left: 15%;
  }

  @include util.mobile-screen {
    width: 100%;
    margin-left: 0;
  }
}
