@use '/src/style/util';
@use '/src/style/font';

.ListWrap {
  border-top: 3px solid rgb(112, 112, 112);
  max-width: util.rem(1824px);
  min-width: util.rem(432px);
}
.List {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #707070;
  min-width: util.rem(312px);
}

.Date {
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  & strong {
    @include font.typo(font.$IBM, bold, 48px, 67.2px);
  }

  & span {
    @include font.typo(font.$IBM, regular, 16px, 21px);
  }
}

.Title {
  @include font.typo(font.$IBM, regular, 20px, 24px);
}

.PlusBtn {
  padding: util.rem(20px) util.rem(30px);
  background-color: transparent;
  cursor: pointer;
  & img {
    width: 18px;
  }
}
